//$body-bg:#333;
$headings-color:black;
$header-font-size:110px !default;
$light-size:$header-font-size * 0.08 !default;
$line-height:$header-font-size * 0.7 !default;

.panel {
  margin-top: 50px;
}


@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import '../bower_components/angular-casino-lights/scss/_casino-lights.scss';
