$icon-font-path: "/bower_components/bootstrap-sass/fonts/";
$iconFontPath: "/bower_components/bootstrap-sass/fonts/";

@import "bootstrap-sass/lib/variables";

$body-bg:#333;
$text-color:#dec085;
$text-border:#d78965;

@import "bootstrap-sass/lib/bootstrap";

.light {
  border-radius: 50%;
  height:9px;
  width:9px;
  border:solid 1px #ECDBB9;
  background-color:transparent;
  box-shadow:
    1px 0px 1px 0px rgba(129, 107, 63, 0.3), 
    inset 1px 1px 2px rgba(112, 106, 75, 0.3),
    inset -1px -1px 1px white;
}

.light.on {
  background-color:#FCF8D2;
  box-shadow:
    3px 0px 10px 3px rgba(255, 235, 194, 0.18),
    -3px 0px 10px 3px rgba(255, 235, 194, 0.18),
    0px 3px 10px 3px rgba(255, 235, 194, 0.18),
    0px -3px 10px 3px rgba(255, 235, 194, 0.18);
}

h1.neon { 
  font-size:160px;
  font-family: 'Bitter', serif;
  position:relative;
  display:inline-block;

  -webkit-text-fill-color: $text-color;
  -webkit-text-stroke-color: $text-border;
  -webkit-text-stroke-width: 5px;
  text-fill-color: $text-color;
  text-stroke-color: $text-border;
  text-stroke-width: 5px;

  span {
    display: inline-block;
    position:relative;
  }

  hr {
    margin:0;
    padding:0;
    position:absolute;
    color:white;
    width:100%;
  }
  hr.one {bottom:18%;}
  hr.two {bottom:28%;}

  i {
    position:absolute;
    color:white;
    font-size:7%;
  }
}
