$icon-font-path: "/bower_components/bootstrap-sass/fonts/";

@import "bootstrap-sass/lib/variables";

$body-bg:#333;
$text-color:#dec085;
$text-border:#d78965;
$header-font-size:160px;
$light-size:$header-font-size * 0.05;

$border-radius-small:10px;
$border-radius-xs-small:7px;

$panel-bg:lighten($body-bg, 10%);
$panel-default-border:lighten($body-bg, 15%);

$text-shadow-1:darken($text-border, 30%);
$text-shadow-2:darken($text-border, 40%);

@import "bootstrap-sass/lib/bootstrap";

/* Bootstrap Ovverrides */

.panel-body {
  padding: 10px;
}

.form-group {
  padding: 0 5px;
}

button:focus, input:focus {
  outline: none;
}

/* End Bootstrap Ovverrides */

/* Controls */

input[type='range'] {  
  -webkit-appearance: none;
  margin-top: 2px;
  border:solid 1px lighten($body-bg, 15%);
  border-radius: $border-radius-xs-small;
  -webkit-border-radius: $border-radius-xs-small;
  background-color: $body-bg;
  width:100%;
}  
  
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-xs-small);
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.3);
} 

input[type='range']::-webkit-slider-thumb:active {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}

/* End Controls */

/* Casino Styling */

.light {
  position:absolute;
  height:$light-size;
  width:$light-size;
  border-radius: 50%;
  border:solid 1px #ECDBB9;
  background-color:transparent;
  box-shadow:
    1px 0px 1px 0px rgba(129, 107, 63, 0.3), 
    inset 1px 1px 2px rgba(112, 106, 75, 0.3),
    inset -1px -1px 1px white;
}

.light.on {
  background-color:#FCF8D2;
  box-shadow:
    3px 0px 10px 3px rgba(255, 235, 194, 0.18),
    -3px 0px 10px 3px rgba(255, 235, 194, 0.18),
    0px 3px 10px 3px rgba(255, 235, 194, 0.18),
    0px -3px 10px 3px rgba(255, 235, 194, 0.18),

    6px 0px 10px 6px rgba(255, 235, 194, 0.1),
    -6px 0px 10px 6px rgba(255, 235, 194, 0.1),
    0px 6px 10px 6px rgba(255, 235, 194, 0.1),
    0px -6px 10px 6px rgba(255, 235, 194, 0.1);
}

h1.neon { 
  margin-bottom: $line-height-computed;
  font-size:$header-font-size;
  font-family: 'Bitter', serif;
  position:relative;
  display:inline-block;
  color: $text-color;
  background: transparent;
  z-index: 0;

  span {
    display: inline-block;
    position:relative;
    padding: 0 3px;
  }

  span:before {
    content: attr(data-content);
    position: absolute;
    padding: 0 3px;
    left: 0;
    z-index: -1;
    text-shadow:
      1px 1px 0px #d78965,
      -1px -1px 0px #d78965,
      -1px 1px 0px #d78965,
      1px -1px 0px #d78965,

      2px 2px 0px #d78965,
      -2px -2px 0px #d78965,
      2px -2px 0px #d78965,
      -2px 2px 0px #d78965,

      3px 3px 0px #d78965,
      -3px -3px 0px #d78965,
      -3px 3px 0px #d78965,
      3px -3px 0px #d78965,

      5px -1px 1px $text-shadow-1, 
      5px 2px 1px $text-shadow-1, 
      5px 4px 1px $text-shadow-1,
      5px 6px 1px $text-shadow-1,
      -2px 6px 1px $text-shadow-1,

      6px 0px 1px $text-shadow-2, 
      6px 3px 1px $text-shadow-2, 
      6px 5px 1px $text-shadow-2,
      6px 7px 1px $text-shadow-2,
      -2px 7px 1px $text-shadow-2,

      -3px 8px 5px black,
      7px 8px 5px black;
  }
}

/* End Casino Styling */
