<div class="row text-center">
	<h1 class="neon">
		<span ng-repeat="letter in word track by $index" data-content="{{letter}}">
			{{letter}}
			<i ng-repeat="light in lights[letter]" class="light" ng-class="light.power" ng-style="light.pos">
			</i>
		</span>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
		  <div class="panel-body">

			  <form class="form-inline text-center" role="form">

				  <div class="form-group">
						<label for="speed" class="sr-only">Speed</label>
						<input name="speed" ng-model="speed.current" type="range" min="{{speed.min}}" max="{{speed.max}}" />
				  </div>

				  <div class="form-group">
						<label for="animation" class="sr-only">Animation</label>
						<select name="animation" ng-model="animation" class="form-control input-sm" ng-options="filter for filter in filters">
						</select>
				  </div>

				  <div class="form-group">
						<button name="power" ng-click="toggle()" ng-model="power" ng-class="{active: power}" 
								class="hidden-xs btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-play" ng-class="{'glyphicon-pause': power}"></span>
						</button>
						<button name="power" ng-click="toggle()" ng-model="power" ng-class="{active: power}" 
								class="visible-xs btn-block btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-play" ng-class="{'glyphicon-pause': power}"></span>
						</button>

				  </div>

				</form>

			</div>
		</div>
	</div>
</div>
