<div class="row text-center">
	<h1 class="neon" ng-init="lights = [	{pos: {bottom:'18%', left:'0%'}, power: 'on'},
																				{pos: {bottom:'28%', left:'0%'}, power: 'on'}, 
																				{pos: {bottom:'38%', left:'0%'}, power: 'on'}, 
																				{pos: {bottom:'48%', left:'0%'}, power: 'on'}, 
																				{pos: {bottom:'58%', left:'0%'}, power: 'off'}, 
																				{pos: {bottom:'68%', left:'0%'}, power: 'on'}, 
																				{pos: {bottom:'78%', left:'0%'}, power: 'on'}]">
		CHOPPER
		<i ng-repeat="light in lights" class="light" id="light-{{$index}}" ng-class="light.power" ng-style="light.pos">
		</i>
		<!--| vertical:frame-->
		<!--grid-->
		<hr class="one">
		<hr class="two">
	</h1>
</div>
<form class="row text-center">
	<label for="speed">Speed</label>
	<input name="speed" ng-model="speed" type="range" min="100" max="500" />

	<label for="power">Power</label>
	<input name="power" ng-change="toggle()" ng-model="power" type="checkbox" />

	<label for="animation">Animation</label>
	<select name="animation" ng-model="animation">
		<option value="random">Random</option>
		<option value="vertical">Vertical</option>
	</select>
</form>
